<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.LiveFitSDK"
        tools:targetApi="31">
        <activity
            android:name=".QRCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AudioActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UpdateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DialCustomActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PlayAudioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DeviceScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.realsil.sdk.support.settings.SettingsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/rtksdk_title_scanner"
            android:screenOrientation="sensor"
            android:theme="@style/RtkAppTheme.NoActionBar">
            <intent-filter android:priority="1">
                <action android:name="rtk.action.settings.BT_SCAN_FILTER" />
                <action android:name="rtk.action.settings.DEVELOPER_OPTIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.realsil.sdk.support.ui.LocalActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/rtk_title_device_info"
            android:theme="@style/RtkAppTheme.NoActionBar">
            <intent-filter android:priority="1">
                <action android:name="rtk.action.local.DEVICE_INFO" />
                <action android:name="rtk.action.local.DEPENDENCE_INFO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.realsil.sdk.support.ui.HelpActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:label="@string/rtk_title_device_info"
            android:theme="@style/RtkAppTheme.NoActionBar">
            <intent-filter android:priority="1">
                <action android:name="rtk.settings.HELP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.guangji.liblivefit.service.BleService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>